extends ../layout/default.pug 

block title 
    title Кондиционер-Хиты

block content

    //-Marketing section 
    section.section 
        .container 
            .section_inner 
                h2.section_title(data-aos="fade-down", data-aos-delay="500") 
                    a(href="#").section_h2_link Хиты продаж
                .section_content 
                    .list_card 
                        .card 
                            .card_item 
                                .card_img.card_img_1 
                                    span.card_img_text Новинка 
                                    span.card_img_text Хит продаж 
                                .card_icons 
                                    span.card_icons_heart 
                                    span.card_icons_line
                            .card_body 
                                p.card_body_text Удаленное управление
                                h1.card_body_title Кондиционер №1
                                p.card_body_grade 4.5

                                .card_price 
                                    span.card_price_actual 57 990 руб. 
                                    span.card_price_before 66 000 руб 
                                
                                .card_button 
                                    button.btn.btn-primary В корзину 
                                    span.card_button_heart
                                    span.card_button_line

                        .card 
                            .card_item 
                                .card_img.card_img_2 
                                    span.card_img_text Новинка 
                                    span.card_img_text Хит продаж 
                                .card_icons 
                                    span.card_icons_heart 
                                    span.card_icons_line 
                            .card_body 
                                p.card_body_text Удаленное управление
                                h1.card_body_title Кондиционер №1
                                p.card_body_grade 4.5

                                .card_price 
                                    span.card_price_actual 57 990 руб. 
                                    span.card_price_before 66 000 руб 
                                
                                .card_button 
                                    button.btn.btn-primary В корзину 
                                    span.card_button_heart
                                    span.card_button_line 
                    
                        .card 
                            .card_item 
                                .card_img.card_img_3 
                                    span.card_img_text Новинка 
                                    span.card_img_text Хит продаж 
                                .card_icons 
                                    span.card_icons_heart 
                                    span.card_icons_line 
                            .card_body 
                                p.card_body_text Удаленное управление
                                h1.card_body_title Кондиционер №1
                                p.card_body_grade 4.5

                                .card_price 
                                    span.card_price_actual 57 990 руб. 
                                    span.card_price_before 66 000 руб 
                                
                                .card_button 
                                    button.btn.btn-primary В корзину 
                                    span.card_button_heart
                                    span.card_button_line 
                    
                        .card 
                            .card_item 
                                .card_img.card_img_4 
                                    span.card_img_text Новинка 
                                    span.card_img_text Хит продаж 
                                .card_icons 
                                    span.card_icons_heart 
                                    span.card_icons_line  
                            .card_body 
                                p.card_body_text Удаленное управление
                                h1.card_body_title Кондиционер №1
                                p.card_body_grade 4.5

                                .card_price 
                                    span.card_price_actual 57 990 руб. 
                                    span.card_price_before 66 000 руб 
                                
                                .card_button 
                                    button.btn.btn-primary В корзину 
                                    span.card_button_heart
                                    span.card_button_line 
                
                        .card 
                            .card_item 
                                .card_img.card_img_1 
                                    span.card_img_text Новинка 
                                    span.card_img_text Хит продаж 
                                .card_icons 
                                    span.card_icons_heart 
                                    span.card_icons_line 
                            .card_body 
                                p.card_body_text Удаленное управление
                                h1.card_body_title Кондиционер №1
                                p.card_body_grade 4.5

                                .card_price 
                                    span.card_price_actual 57 990 руб. 
                                    span.card_price_before 66 000 руб 
                                
                                .card_button 
                                    button.btn.btn-primary В корзину 
                                    span.card_button_heart
                                    span.card_button_line

    